{% extends "APBPlatformBundle::layout.html.twig" %}

{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block apbplatform_body %}

  <h2>Ajouter une annonce</h2>

  {{ include("APBPlatformBundle:Advert:form.html.twig") }}

  <p>
    Vous éditez une nouvelle annonce.
  </p>

  <p>
    <a href="{{ path('apb_platform_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'accueil
    </a>
  </p>

{% endblock %}